* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.mainPageClients{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.titleClients{
   background-color: #084b71;
   padding: 20px;
   color: white;
   font-size: 1.9rem;
   font-weight: bold;
}

.partners1{
  display: flex;
  padding: 20px;
  font-weight: 300;
  font-size: 1.2rem;
}
.partners1 p{
  width: 600px;
  margin-top: 30px;
}

.imgsPartners1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 imagens por linha */
  gap: 20px; /* espaço entre elas */
  justify-items: center; /* centraliza as imagens horizontalmente */
  align-items: center; /* centraliza verticalmente */
  padding: 20px;
}

.imgsPartners1 img {
  width: 100%;
  max-width: 250px; /* limite máximo pra não ficar gigante */
  height: auto; /* mantém proporção */
  object-fit: contain; /* garante que não distorça */
  border-radius: 8px; /* opcional, só pra deixar mais bonito */
}

.imgsPartners2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 imagens por linha */
  gap: 50px; /* espaço entre elas */
  justify-items: center; /* centraliza as imagens horizontalmente */
  align-items: center; /* centraliza verticalmente */
  padding: 20px;
}

.imgsPartners2 img {
  width: 100%;
  max-width: 250px; /* limite máximo pra não ficar gigante */
  height: auto; /* mantém proporção */
  object-fit: contain; /* garante que não distorça */
  border-radius: 8px; /* opcional, só pra deixar mais bonito */
}
.titlePartners {
  text-align: center;
  padding: 15px;
  color: #084b71;
  font-weight: 350;
  border-bottom: 1px solid #084b71;

}


@media (max-width: 768px) {
  .partners1{
    flex-direction: column;
  }
  .partners1 p{
    width: 300px;
  }
}

/*rolagem horizontal infinitas
.listPartners1 ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    width: 70rem;
}

.listPartners1 ul li {
    position: relative;
    left: 100%;
    animation: parceiros 15s linear infinite;
}


@keyframes parceiros {
  to {
    transform: translateX(-140rem);
  }
}
*/