* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.titleExpo{
   background-color: #084b71;
   padding: 20px;
   color: white;
   font-size: 1.9rem;
   font-weight: bold;
}

/* Seção 1 - Título e texto */
.sec1 {
  background-color: #e6f2f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  text-align: center;
  font-size: 2rem;
  padding: 10px;
}


.sec1 p {
  font-weight: 200;
  max-width: 900px;
}

/* Seção 2 - Cards de destaques */
.sec2 {
  background-color: #e6f2f9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.sec2 .sqr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 220px;
  height: 220px;
  text-align: center;
  border-radius: 20px;
}

/* Container de cards */
.expo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding: 20px;
  margin: 20px;
}

/* Seção de texto e imagem */
#mainCaipirinha {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #e6f2f9;
  padding: 20px;
  box-sizing: border-box;
}

#mainCaipirinha #texto {
  width: 100%;
  max-width: 700px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  text-align: center;
}

/*CAIPIRINHA*/
#mainCaipirinha #texto h2 {
  max-width: 300px;
  color: #084b71;
  font-weight: 400;
}

#mainCaipirinha #texto p {
  padding: 10px;
  font-weight: 300;
}

#mainCaipirinha #img {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainCaipirinha #img img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin: 15px;
}

/* Responsividade */
@media (max-width: 768px) {
  #main {
    flex-direction: column;
    align-items: center;
  }

  #main #texto,
  #main #img {
    width: 90%;
    max-width: 100%;
  }

  #main #texto h2 {
    max-width: 100%;
  }

  #main #img img {
    margin: 15px 0;
  }
}

/* Seção de vídeo */
#mainVideo {
  background-color: #084b71;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#mainVideo h2 {
  margin: 20px;
  padding: 10px;
  font-size: 2.5rem;
  font-weight: 300;
}
