.mainIglta {
    margin: 0;
    color: white;
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.fade-in {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.07s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-section {
    padding: 30px;
    font-size: 1.2rem;
}

.hero-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #292626;
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.7);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    font-size: 3em;
}

.fade-in{
    margin-bottom: 10px;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.413);
}

.hero-banner h5 {
    margin-top: 0;
}

.logo-container {
    display: flex;
    flex-direction: row;
}

#logo-iglta {
    width: 200px;
    border-radius: 30%;
}

#logo-brazil {
    width: 200px;
    background-color: rgba(219, 244, 244, 0.1);
    border-radius: 30%;
}

#banner-image {
    background-image: url('../../assets/images/iglta/image2.png');
}

.about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 10px;
    background-color: #fff;
    color: #084B71;
    padding: 30px;
    font-weight: bold;
    flex-wrap: wrap;
}

#text-content {
    text-align: start;
    max-width: 600px;
    line-height: 2.1rem;
    font-weight: 300;
}


#image-map {
    max-width: 100%;
    max-height: 600px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    #text-content {
        width: 100%;
    }

    #image-map {
        width: auto;
        max-width: 90%;
        margin-top: 20px;
    }
}


/* Seção Parallax */
.parallax {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.parallax h1 {
    font-size: 2.8rem;
    /* base para desktop */
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    /* sombra */
}

.parallax p {
    padding: 20px;
    font-size: 1.8rem;
    border-radius: 20px;
    max-width: 800px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.6); /* sombra leve */

}

#north {
    background-image: url('../../assets/images/iglta/1.png');
    

}
#northeast{
    background-image: url('../../assets/images/iglta/2.png');
}
#central-west{
    background-image: url('../../assets/images/iglta/3.png');
    
}
#southeast{
    background-image: url('../../assets/images/iglta/4.png');

}  
#southern{
    background-image: url('../../assets/images/iglta/5.png');
}

/* Telas pequenas (celulares) */
@media (max-width: 600px) {
    .parallax {
        flex-direction: column;
        padding: 10px;
        margin: 10px;
    }

    .parallax h1 {
        font-size: 1.5rem;

    }

    .parallax p {
        font-size: 1.2rem;
        padding: 10px;
        margin: 10px;
    }
}